*/.idea
.idea
gen/
.DS_Store
Pods/
Podfile.lock
xcuserdata/
*.xcworkspace/
GoogleService-Info.plist
npm-debug.log
node_modules/**
.firebaserc
firebase-debug.log
functions/node_modules/**
package-lock.json
functions/package-lock.json
public/fonts
bundle.js.map
bundle.js
styles.css
styles.css.map
src/firebase-config.json
public/firebase-messaging-sw.js
public/firebase-messaging-sw.js.map
public/css
public/js
public/index.html
public/workbox
public/workbox-sw.js
hosting.*.cache
